body {
    margin: 0;
    font-family: Arial, 'Times New Roman', Times, serif;
    color: $bgColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $lightGray;
    display: flex;
    justify-content: center;
}

div{
    display: block;
}

h1{
    font-size: 25pt;
    font-family: Arial;
    font-weight: 500;
    margin: 0;
}
h2{
    font-size: 22pt;
    font-family: Arial;
    font-weight: 500;
    margin: 0;
}
h3{
    font-size: 16pt;
    font-family: Arial;
    font-weight: 500;
    margin: 0;
}
h4{
    font-size: 12pt;
    font-family: Arial;
    font-weight: 500;
    margin: 0;
}

a, a:visited{
    color: #767270;
    text-decoration: transparent;
}

span{
    opacity: 0.7;  
}